body {
    background-color: #bfd7f5;
    font-family: Microsoft JhengHei;
}
#map {
    text-align: center;
}
.counties {
    fill: #b3b3b3;
}
.mountain {
    stroke: rgb(125, 147, 245);
}
.counties :hover {
    fill: #797979;
    transition: 0.5s;
}
.county-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #a874d8;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px rgb(136, 98, 158);
    position: absolute;
    font-family: Microsoft JhengHei;
}

.button:hover {
    background-color: rgb(151, 111, 190);
}

.button:active {
    background-color: #8850bd;
    box-shadow: 0 5px rgb(98, 62, 119);
    transform: translateY(4px);
}

.tooltip {
    background-color: white;
    border: solid;
    position: center;
    padding: 4px;
    border-width: 2px;
    border-radius: 3px;
    position: absolute;
    text-align: center;
    font-family: Microsoft JhengHei;
    font-size: 15px;
    visibility: hidden;
}

/* rent site */
.stop-top-rentsite {
    stop-color: #3d7aff; /* Indigo */
}
.stop-bottom-rentsite {
    stop-color: #ffffff; /* Teal */
}
.filled-rentsite {
    fill: url(#rentSiteGradient);
}
/* real */
.stop-top-real {
    stop-color: #f55491; /* Indigo */
}
.stop-bottom-real {
    stop-color: #ffffff; /* Teal */
}
.filled-real {
    fill: url(#realGradient);
}
