body {
    background-color: #e0e2db;
    font-family: Microsoft JhengHei;
}
#map {
    text-align: center;
}
.counties {
    fill: #5F7470;
}
/*
.counties :hover {
    fill: #434A42;
    transition: 0.5s;
}
*/
.county-path.over{
    fill: #434A42;
}
.areas{
    fill: #b3b3b3;
    opacity: 0%;
}
.areas :hover {
    fill: #797979;
    transition: 0.5s;
}
.mountain {
    stroke: #DC851F;
}
.area-mountain {
    stroke: #DC851F;
    stroke-width: 0.2px;
}
.area-borders{
    fill: none;
    stroke: rgb(148, 148, 148);
    stroke-width: 0.1px;
}
.county-borders {
    fill: none;
    stroke: #889696;
    stroke-width: 0.5px;
}
.button_div {
    margin-top: -227px;
    margin-left: 284px;
}
.button {
    position: relative;
    left: 150px;
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #434A42;
    color: #F9F9F9;
    cursor: pointer;
    font-size: 18px;
    font-family: Microsoft JhengHei;
}

/* Style the active class, and buttons on mouse-over */
.active,
.button:hover {
    background-color: #B8BDB5;
    color: #F9F9F9;
}

.tooltip {
    background-color: white;
    border: solid;
    position: center;
    padding: 4px;
    border-width: 2px;
    border-radius: 3px;
    position: absolute;
    text-align: center;
    font-family: Microsoft JhengHei;
    font-size: 15px;
    visibility: hidden;
}

/* rent site */
.stop-top-rentsite {
    stop-color: #F7C59F; /* Indigo */
}
.stop-bottom-rentsite {
    stop-color: #F7C59F; /* Teal */
    stop-opacity: 70%;
}
.filled-rentsite {
    fill: url(#rentSiteGradient);
}
/* real */
.stop-top-real {
    stop-color: #F7C59F; /* Indigo */
}
.stop-bottom-real {
    stop-color: #F7C59F; /* Teal */
    stop-opacity: 70%;
}
.filled-real {
    fill: url(#realGradient);
}

.track-inset{
    stroke: #B8BDB5;
}
.track{
    stroke: none;
}

.track-overlay :hover{
    stroke: #5F7470;
}

.parameter-value path{
    stroke: none;
    fill: #B8BDB5;
}

